<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>901186584356-hscevdm43hh9tfnjg4mcgprfpuqlcbbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.901186584356-hscevdm43hh9tfnjg4mcgprfpuqlcbbs</string>
	<key>API_KEY</key>
	<string>AIzaSyC-dOibTS-nZ7Q5RAKhwuqqPc-0-DTpUr0</string>
	<key>GCM_SENDER_ID</key>
	<string>901186584356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.friendlychat</string>
	<key>PROJECT_ID</key>
	<string>github-6c356</string>
	<key>STORAGE_BUCKET</key>
	<string>github-6c356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:901186584356:ios:d49b305e450b9c98</string>
	<key>DATABASE_URL</key>
	<string>https://github-6c356.firebaseio.com</string>
</dict>
</plist>